# Ignore everything
/*/
/*

# Unignore this
!src/
!.gitignore
!resources/
!build.gradle
!gradlew
!gradlew.bat
!settings.gradle
!gradle/

#Ignore constants
src/main/java/com/rolandoislas/hudinstaller/data/Constants.java